.back-image {
  background-image: url(../assets/images/fondo3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo{
  width: 150px;
  height: 70px;
}

a img {
  width: 800px;
  height: 400px;
}

.opacity-back {
  opacity: 0,5;
  background-color: rgba(236, 141, 141, 0.609);
}

.cards {
  width: 100%;
}