.back-image {
  background-image: url(../assets/images/fondo3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo{
  width: 150px;
  height: 70px;
}

a img {
  width: 800px;
  height: 400px;
}

.opacity-back {
  opacity: 0,5;
  background-color: rgba(236, 141, 141, 0.609);
}

/* What */
.backgr-green {
  opacity: 0,5;
  background-color: rgb(189, 255, 9);
}

/* Contact */
.backgr-yellow {
  opacity: 0,5;
  background-color: rgb(250, 250, 6);
  
}

/* News */

/* Footer */
.backgr-steel {
  background-color: #09121bf1;
  height: 50px;
}

.top10 {
  top: 10px;
}